<div class="leftNavBox">
    <div class="leftNavItem">
        <a routerLink="/one">one</a>
    </div>
    <div class="leftNavItem">
        <a routerLink="/two">two</a>
    </div>
    <!-- 导航栏 -->
    <div class="leftNavItem">
        <a routerLink="/pingduo">pingduo</a>
    </div>
    <!-- 表单 -->
    <div class="leftNavItem">
        <a routerLink="/nameeditor">nameEditor</a>
    </div>
    <div class="leftNavItem">
        <a routerLink="/profileeditor">porfileEditor</a>
    </div>
    <div class="leftNavItem">
        <a routerLink="/herosehome">herosehome</a>
    </div>
    <div class="leftNavItem">
        <a routerLink="/operator">operator</a>
    </div>
    <div class="leftNavItem">
        <a routerLink="/data-set-class">为数据创建类</a>
    </div>
</div>
<div class="rightBox">
    <router-outlet></router-outlet>
</div>