h3 {
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-around;
}

li {
    float: left;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: slategray;
    color: #ffffff;
}